.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000;
    z-index: 999;


    .wrapper{
            height:80px;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 24px;

            .menu{
                display: none;
                font-size: 2rem;
                cursor: pointer;

                button {
                        background-color: #fff;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        
                    }
            }

            .left{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 500px;
            }

            .right{
                font-size: 30px !important;
            }

            .link{
                cursor: pointer;
            }
    }

    @media (max-width: 1023px) {
    
             .wrapper {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 20px;
                width: 100%;
    
                 .left {
                    opacity: 0;
                        visibility: hidden;
                        width: 0;
                        overflow: hidden;
                        transition: opacity 0.5s ease, width 0.5s ease;
                 }
    
                 .left-mobile {
                     position: absolute;
                     display: block;
                     height: 100vh;
                     top: 0px;
                     right: 0px;
                     transition: all 0.5s ease-out;
                     width: 180px;
                     z-index: 1;
                     background-color: #302c2c;
                     display: flex;
                     align-items: center;
                     flex-direction: column;
                     gap: 40px;
                    font-size: 20px;
                    padding: 20px;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                    opacity: 0.9;
                    padding-top: 100px;
                    visibility: visible;
                    width: 200px;
                    transition: opacity 0.5s ease, width 0.5s ease;
                 }

                .left-mobile.open {
                    width: 150px;
                    transition: width 0.5s ease;
                    
                 }
    
                 .menu {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     padding: 2px;
                     z-index: 4;
                     font-size: 20px;
                     

                     button{
                        color: black;
                        padding: 0px;
                     }
                 }
    
                 .right {
                         font-size: 24px !important;
                         margin-left: 12px;
                 }
    
             }
         }
     @media (max-width: 767px){
        .wrapper{
            padding: 0px;
            
            .menu{
                padding: 10px;
            }
        }
     }
}